.card-quiz {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  border: 1px solid var(--color-border);
  padding: 0.8rem;
}

.card-quiz a {
  text-decoration: none;
  color: inherit;
}

.card-quiz .title {
  font-size: 1.5rem;
  text-align: center;
}

.card-quiz img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.quiz-details {
  display: flex;
  justify-content: space-between;
}
