.quiz-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: var(--page-top-margin);
  padding-bottom: 2rem;
}

.results-heading {
  text-align: center;
}

.results-heading .heading {
  font-family: var(--font-family-secondary);
  font-size: 2rem;
}

.results-heading .scoring {
  font-weight: 600;
  font-size: 1.3rem;
}

.result-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.result-card .question-number {
  font-family: var(--font-family-secondary);
  font-size: 1.3rem;
}

.result-card .points {
  margin: 0.5rem 0;
  border: 1px solid black;
  padding: 0.2rem 1rem;
  border-radius: 5rem;
}
