.quiz-playarea {
  display: flex;
  justify-content: center;
  margin-top: var(--page-top-margin);
}

.quiz-playCard {
  display: flex;
  flex-direction: column;
}

.quiz-playarea .question {
}

.quiz-playarea img {
  max-width: 100%;
}

.container-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 0 0.5rem;
}

@media only screen and (min-width: 768px) {
  .quiz-playarea img {
    max-width: 500px;
  }

  .container-options {
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
